{% extends 'cms/panel/page.html.twig' %}

{%  block content %}
    {{ form_start(form, {'attr' : {'class' : 'form-horizontal form-label-left'}}) }}
                      <div class="item form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name"> {{ form_label(form.tag) }} <span class="required">*</span>
                        </label>
                        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                          {{ form_widget(form.tag, {'attr' : {'class' : 'form-control col-md-7 col-xs-12'}}) }}
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name"> {{ form_label(form.val) }} <span class="required">*</span>
                        </label>
                        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                          {{ form_widget(form.val, {'attr' : {'class' : 'form-control col-md-7 col-xs-12'}}) }}
                        </div>
                      </div>
                      <div class="item form-group">
                        <div class="col-xs-12 text-center">
                          <a class="btn btn-default" href="{{ path('variable_list') }}">Variable list</a>
                          {{ form_widget(form.submit, {'attr' : {'class' : 'btn btn-success'}}) }}
                        </div>
                      </div>
    {{ form_end(form) }}
{% endblock %}